In [3]:
# list --> dict
students = ['Lewis', 'Ada', 'nancy', 'JuDY', 'Jessy', 'SARA']
weights =  [77.5   ,  56.4,    65  ,   43  ,   66.5 ,   55.5]
# dict {'Lewis':77.5, 'Ada':56.4 ........}

In [5]:
# zip
for z in zip(students, weights) :
    print(z)

('Lewis', 77.5)
('Ada', 56.4)
('nancy', 65)
('JuDY', 43)
('Jessy', 66.5)
('SARA', 55.5)

In [14]:
#for loop
my = {}
for i in range(len(students)):
    #print(students[i], weights[i])
    #my['Lewis'] = 77.5
    my[ students[i] ] = weights[i]
my

{'Lewis': 77.5,
 'Ada': 56.4,
 'nancy': 65,
 'JuDY': 43,
 'Jessy': 66.5,
 'SARA': 55.5}

In [4]:
# zip
dict(zip(students, weights))

{'Lewis': 77.5,
 'Ada': 56.4,
 'nancy': 65,
 'JuDY': 43,
 'Jessy': 66.5,
 'SARA': 55.5}

In [16]:
# pandas
'''
id     weight
Lewis  77.5
Ada    56.4
............
'''
import pandas as pd
df = pd.DataFrame( zip(students, weights), columns=['id', 'weight'] )
df

      id  weight
0  Lewis    77.5
1    Ada    56.4
2  nancy    65.0
3   JuDY    43.0
4  Jessy    66.5
5   SARA    55.5