In [2]:
# list 
students = ['Lewis', 'Ada', 'nancy', 'JuDY', 'Jessy', 'SARA']
# 第一字母大寫 其他小寫 除了使用迴圈以外
# students.capitalize()

In [7]:
# for loop <---建議少用
students2 = []
for s in students:
    #print(s.capitalize())
    students2.append(s.capitalize())
students2

['Lewis', 'Ada', 'Nancy', 'Judy', 'Jessy', 'Sara']

In [9]:
#list comprehension
students2 = [s.capitalize() for s in students]
students2

['Lewis', 'Ada', 'Nancy', 'Judy', 'Jessy', 'Sara']

In [15]:
# pandas
import pandas as pd
pd.DataFrame(students, columns=['id'])

      id
0  Lewis
1    Ada
2  nancy
3   JuDY
4  Jessy
5   SARA

In [19]:
# pandas
import pandas as pd
pd.Series(students).str.capitalize().tolist()

['Lewis', 'Ada', 'Nancy', 'Judy', 'Jessy', 'Sara']