In [1]:
# list --> pandas
students = ['Lewis', 'Ada', 'nancy', 'JuDY', 'Jessy', 'SARA']
weights =  [77.5   ,  56.4,    65  ,   43  ,   66.5 ,   55.5]
grade   =  ['A'    , 'B'  , 'C'    ,   'A' ,  'A'   ,  'C']

In [2]:
# pandas
'''
id     weight
Lewis  77.5
Ada    56.4
............
'''
import pandas as pd
df = pd.DataFrame( zip(students, weights, grade), columns=['id', 'weight', 'grade'] )
df

      id  weight grade
0  Lewis    77.5     A
1    Ada    56.4     B
2  nancy    65.0     C
3   JuDY    43.0     A
4  Jessy    66.5     A
5   SARA    55.5     C

In [4]:
# weight <60 # output all columns
df[df.weight < 60]

     id  weight grade
1   Ada    56.4     B
3  JuDY    43.0     A
5  SARA    55.5     C

In [15]:
# weight <60 and grade in ('A','C') # output weight, grade
df[ (df.weight < 60) & df.grade.isin(['A', 'C']) ][['weight', 'grade']]

   weight grade
3    43.0     A
5    55.5     C