In [1]:
import pandas as pd
df = pd.read_csv('datab.txt')
df

   Lewis  Ada  Julia  Nancy
0     98   78     65     44
1     87   99     67     98
2     88   87     87     88
3     87   99     67     98

In [2]:
df.duplicated() # 檢查是否有重複

0    False
1    False
2    False
3     True
dtype: bool

In [7]:
df.drop_duplicates(keep='last') # first last False

   Lewis  Ada  Julia  Nancy
0     98   78     65     44
2     88   87     87     88
3     87   99     67     98