In [27]:
import pandas as pd
df = pd.read_csv('datad.txt')
df

   CN  ENG  MATH  OTHER   CREATED
0  98   78    65     44  20210301
1  87   99    67     98  20210402
2  88   87    87     88  20210201
3  87   99    67     98  20210102

In [28]:
df.dtypes

CN         int64
ENG        int64
MATH       int64
OTHER      int64
CREATED    int64
dtype: object

In [3]:
#pd.to_datetime?

In [29]:
df.CREATED = pd.to_datetime(df.CREATED, format='%Y%m%d')
df[:]

   CN  ENG  MATH  OTHER    CREATED
0  98   78    65     44 2021-03-01
1  87   99    67     98 2021-04-02
2  88   87    87     88 2021-02-01
3  87   99    67     98 2021-01-02

In [5]:
df.dtypes

CN                  int64
ENG                 int64
MATH                int64
OTHER               int64
CREATED    datetime64[ns]
dtype: object

In [ ]:
# 幫忙新增三個欄位 
# CREATED_YR 
# CREATED_MO
# CREATED_DT

In [30]:
df['CREATED_YR'] = df.CREATED.dt.year
df['CREATED_MO'] = df.CREATED.dt.month
df['CREATED_DT'] = df.CREATED.dt.day

In [31]:
df

   CN  ENG  MATH  OTHER    CREATED  CREATED_YR  CREATED_MO  CREATED_DT
0  98   78    65     44 2021-03-01        2021           3           1
1  87   99    67     98 2021-04-02        2021           4           2
2  88   87    87     88 2021-02-01        2021           2           1
3  87   99    67     98 2021-01-02        2021           1           2

In [32]:
df[['CN' ,'MATH','CREATED_DT']].groupby(['CREATED_DT']).count()

            CN  MATH
CREATED_DT
1            2     2
2            2     2

In [12]:
print(dir(df.CREATED.dt))

['__annotations__', '__class__', '__delattr__', '__dict__', '__dir__', '__doc__', '__eq__', '__format__', '__frozen', '__ge__', '__getattribute__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__le__', '__lt__', '__module__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', '__weakref__', '_accessors', '_add_delegate_accessors', '_constructor', '_delegate_method', '_delegate_property_get', '_delegate_property_set', '_dir_additions', '_dir_deletions', '_freeze', '_get_values', '_hidden_attrs', '_parent', '_reset_cache', 'ceil', 'date', 'day', 'day_name', 'day_of_week', 'day_of_year', 'dayofweek', 'dayofyear', 'days_in_month', 'daysinmonth', 'floor', 'freq', 'hour', 'is_leap_year', 'is_month_end', 'is_month_start', 'is_quarter_end', 'is_quarter_start', 'is_year_end', 'is_year_start', 'isocalendar', 'microsecond', 'minute', 'month', 'month_name', 'nanosecond', 'normalize', 'quarter', 'round', 'second', 'strftime', 'time', 'timetz', 'to_period', 'to_pydatetime', 'tz', 'tz_convert', 'tz_localize', 'week', 'weekday', 'weekofyear', 'year']