In [1]:
import pandas as pd
import numpy as np
df = pd.read_csv('datae.txt')
df
# 將所有分數 低於 80分者 全部變成 0 分

   CN  ENG  MATH  OTHER GRADE
0  98   78    65     44     A
1  87   99    67     98     A
2  88   87    87     88     B
3  87   99    67     98     C

In [2]:
import numpy as np
cols = df.dtypes[df.dtypes=='int64'].index # 找出所有數值欄位
cols

Index(['CN', 'ENG', 'MATH', 'OTHER'], dtype='object')

In [3]:
for c in cols:
    print(c, df[c].values, np.where(df[c].values<80, 0, df[c].values) )
    df[c] = np.where(df[c].values<80, 0, df[c].values) 
df

CN [98 87 88 87] [98 87 88 87]
ENG [78 99 87 99] [ 0 99 87 99]
MATH [65 67 87 67] [ 0  0 87  0]
OTHER [44 98 88 98] [ 0 98 88 98]

   CN  ENG  MATH  OTHER GRADE
0  98    0     0      0     A
1  87   99     0     98     A
2  88   87    87     88     B
3  87   99     0     98     C