In [3]:
import pandas as pd
lemonade = pd.read_csv('Lemonade.csv')
lemonade[:3]

         Date      Day  Temperature  Rainfall  Flyers  Price  Sales
0  01/01/2017   Sunday         27.0      2.00      15    0.3     10
1  02/01/2017   Monday         28.9      1.33      15    0.3     13
2  03/01/2017  Tuesday         34.5      1.33      27    0.3     15

In [ ]:
# 請劃出 溫度與銷售
import matplotlib.pyplot as plt