In [1]:
# 多分類 預測一個水果 是 香蕉 蘋果 芭樂 柳丁(只能 四種選一種) Multiclass --> 鳶尾花 分類就是 這個案例
# 多標籤 預測一篇文章 是 散文 時事 科技 文學(允許 多種選多種) MultiLabel
 
# https://scikit-learn.org/stable/modules/multiclass.html

In [2]:
# 匯入資料
import pandas as pd
data = pd.read_csv('diabetes.csv')
data[:3]

,PatientID,Pregnancies,PlasmaGlucose,DiastolicBloodPressure,TricepsThickness,SerumInsulin,BMI,DiabetesPedigree,Age,Diabetic
0,1354778,0,171,80,34,23,43.509726,1.213191,21,0
1,1147438,8,92,93,47,36,21.240576,0.158365,23,0
2,1640031,7,115,47,52,35,41.511523,0.079019,23,0

In [3]:
data.iloc[:, 1:-1]
data.iloc[:, [-1]]

       Diabetic
0             0
1             0
2             0
3             1
4             0
...         ...
14995         1
14996         1
14997         0
14998         0
14999         1

[15000 rows x 1 columns]

In [4]:
#X 前面四個欄位的數值
#y 最後一個欄位的數值
X, y = data.iloc[:, 1:-1].values, data.iloc[:, -1].values

In [5]:
# 特徵
X[:3]

array([[0.00000000e+00, 1.71000000e+02, 8.00000000e+01, 3.40000000e+01,
        2.30000000e+01, 4.35097259e+01, 1.21319135e+00, 2.10000000e+01],
       [8.00000000e+00, 9.20000000e+01, 9.30000000e+01, 4.70000000e+01,
        3.60000000e+01, 2.12405757e+01, 1.58364981e-01, 2.30000000e+01],
       [7.00000000e+00, 1.15000000e+02, 4.70000000e+01, 5.20000000e+01,
        3.50000000e+01, 4.15115235e+01, 7.90185680e-02, 2.30000000e+01]])

In [6]:
# 答案 類別 標籤
y[:3]

array([0, 0, 0], dtype=int64)

In [7]:
# 分割全部數據成為 訓練與驗證資料區 # sklearn.model_selection.train_test_split 
# https://scikit-learn.org/stable/modules/generated/sklearn.model_selection.train_test_split.html
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0)

In [8]:
X_train.shape, X_test.shape, y_train.shape, y_test.shape

((12000, 8), (3000, 8), (12000,), (3000,))

In [9]:
# 載入模型
# # https://scikit-learn.org/stable/modules/generated/sklearn.neighbors.KNeighborsClassifier.html#sklearn.neighbors.KNeighborsClassifier

In [10]:
## https://scikit-learn.org/stable/modules/generated/sklearn.neural_network.MLPClassifier.html#sklearn.neural_network.MLPClassifier
# 換成 MLPClassifier
from sklearn.neighbors import KNeighborsClassifier
model = KNeighborsClassifier(n_neighbors=1) # 1..5
model.fit(X_train, y_train) # 餵入訓練資料

KNeighborsClassifier(n_neighbors=1)

In [11]:
model.predict(X_test), y_test # score model

(array([0, 0, 0, ..., 1, 1, 0], dtype=int64),
 array([0, 0, 1, ..., 1, 1, 1], dtype=int64))

In [12]:
# 用你的方式 LOOP NUMPY 驗證出 預測 model.predict(X_test) 百分之百 等於 y_test
model.predict(X_test) == y_test

array([ True,  True, False, ...,  True,  True, False])

In [13]:
# 用你的方式 LOOP NUMPY 驗證出 預測 model.predict(X_test) 百分之百 等於 y_test
(model.predict(X_test) == y_test).sum() / len(y_test)

0.8246666666666667

In [14]:
model.score(X_test, y_test) # evaluate

0.8246666666666667